<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jetbot">

<xacro:include filename="$(find jetbot_sim)/xacro/standoff.xacro"/>
<xacro:include filename="$(find jetbot_sim)/xacro/wheel.xacro"/>
<xacro:include filename="$(find jetbot_sim)/xacro/base-plate.xacro"/>

<xacro:property name="include_laser" value="true" />

<!-- odom, so base_link can have inertia -->
<link name="odom"/>

<!-- robot base -->
<xacro:base-plate
    name = "base"
    parent = "odom"
    joint_origin_xyz = "0 0 0"
/>

<xacro:standoff
    name ="standoff1"
    radius = "0.0025"
    length = "0.0393"
    mass = "0.5"
    parent = "base_link"
    joint_origin_xyz = "-0.06277 0.042975 0.01975"
/>

<xacro:standoff
    name ="standoff2"
    radius = "0.0025"
    length = "0.0393"
    mass = "0.5"
    parent = "base_link"
    joint_origin_xyz = "0.06277 0.042975 0.01975"
/>

<xacro:standoff
    name ="standoff3"
    radius = "0.0025"
    length = "0.0393"
    mass = "0.5"
    parent = "base_link"
    joint_origin_xyz = "0.06277 -0.042975 0.01975"
/>

<xacro:standoff
    name ="standoff4"
    radius = "0.0025"
    length = "0.0393"
    mass = "0.5"
    parent = "base_link"
    joint_origin_xyz = "-0.06277 -0.042975 0.01975"
/>

<!-- level 2 -->
<xacro:base-plate
    name = "level2"
    parent = "standoff2"
    joint_origin_xyz = "-0.06277 -0.04275 0.02125"
/>

<xacro:standoff
    name ="standoff5"
    radius = "0.0025"
    length = "0.081"
    mass = "0.5"
    parent = "level2_link"
    joint_origin_xyz = "-0.06277 0.042975 0.01975"
/>

<xacro:standoff
    name ="standoff6"
    radius = "0.0025"
    length = "0.081"
    mass = "0.5"
    parent = "level2_link"
    joint_origin_xyz = "0.06277 0.042975 0.01975"
/>

<xacro:standoff
    name ="standoff7"
    radius = "0.0025"
    length = "0.081"
    mass = "0.5"
    parent = "level2_link"
    joint_origin_xyz = "0.06277 -0.042975 0.01975"
/>

<xacro:standoff
    name ="standoff8"
    radius = "0.0025"
    length = "0.081"
    mass = "0.5"
    parent = "level2_link"
    joint_origin_xyz = "-0.06277 -0.042975 0.01975"
/>

<!-- level 3 -->
<xacro:base-plate
    name = "level3"
    parent = "standoff6"
    joint_origin_xyz = "-0.06277 -0.04275 0.039"
/>

<xacro:wheel
    name = "left_wheel"
    parent = "base_link"
    joint_origin_xyz = "0.047135 0.05625 0.008125"
/>

<xacro:wheel
    name = "right_wheel"
    parent = "base_link"
    joint_origin_xyz = "0.047135 -0.05625 0.008125"
/>

</robot>
