<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jetbot">

<xacro:include filename="$(find jetbot_sim)/xacro/standoff.xacro"/>
<xacro:include filename="$(find jetbot_sim)/xacro/wheel.xacro"/>
<xacro:include filename="$(find jetbot_sim)/xacro/base-plate.xacro"/>

<xacro:property name="include_laser" value="true" />

<!-- odom, so base_link can have inertia -->
<link name="odom"/>

<!-- robot base -->
<xacro:base-plate
    name = "base"
    parent = "odom"
    joint_origin_xyz = "0 0 0.0445"
/>

<xacro:standoff
    name ="standoff1"
    radius = "0.0025"
    length = "0.0393"
    mass = "0.5"
    parent = "base_link"
    joint_origin_xyz = "-0.06277 0.042975 0.01975"
/>

<xacro:standoff
    name ="standoff2"
    radius = "0.0025"
    length = "0.0393"
    mass = "0.5"
    parent = "base_link"
    joint_origin_xyz = "0.06277 0.042975 0.01975"
/>

<xacro:standoff
    name ="standoff3"
    radius = "0.0025"
    length = "0.0393"
    mass = "0.5"
    parent = "base_link"
    joint_origin_xyz = "0.06277 -0.042975 0.01975"
/>

<xacro:standoff
    name ="standoff4"
    radius = "0.0025"
    length = "0.0393"
    mass = "0.5"
    parent = "base_link"
    joint_origin_xyz = "-0.06277 -0.042975 0.01975"
/>

<!-- level 2 -->
<xacro:base-plate
    name = "level2"
    parent = "standoff2"
    joint_origin_xyz = "-0.06277 -0.04275 0.02125"
/>

</robot>
