<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="base-plate">
    <xacro:macro name="standoff" params="name radius length mass parent joint_origin_xyz">
       <link name="${name}">
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0" />
          <geometry>
            <cylinder radius="${radius}" length="${length}" />
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <cylinder radius="${radius}" length="${length}" />
          </geometry>
        </collision>
        <inertial>
          <mass value="${mass}"/>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <inertia ixx="2e-05" ixy="0.0" ixz="0.0" iyy="2e-05" iyz="0.0" izz="2e-05"/>
        </inertial>
      </link>

      <joint name="${name}_standoff" type="fixed">
        <origin rpy="0 0 0" xyz="${joint_origin_xyz}" />
        <parent link="${parent}" />
        <child link="${name}" />
      </joint>

      <gazebo reference="${name}">
        <material>Gazebo/Gold</material>
      </gazebo>
    </xacro:macro>
</robot>
